{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "next"],
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn"
  },
  "globals": {
    "React": true,
    "JSX": true
  }
}
