.rose {
  --tw-clr-primary-50: 255, 241, 242;
  --tw-clr-primary-100: 255, 228, 230;
  --tw-clr-primary-200: 254, 205, 211;
  --tw-clr-primary-300: 253, 164, 175;
  --tw-clr-primary-400: 251, 113, 133;
  --tw-clr-primary-500: 244, 63, 94;
  --tw-clr-primary-600: 225, 29, 72;
  --tw-clr-primary-700: 190, 18, 60;
  --tw-clr-primary-800: 159, 18, 57;
  --tw-clr-primary-900: 136, 19, 55;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fff1f2 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ffe4e6 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fecdd3 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fda4af */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #fb7185 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #f43f5e */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #e11d48 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #be123c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #9f1239 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #881337 */
}

.pink {
  --tw-clr-primary-50: 253, 242, 248;
  --tw-clr-primary-100: 252, 231, 243;
  --tw-clr-primary-200: 251, 207, 232;
  --tw-clr-primary-300: 249, 168, 212;
  --tw-clr-primary-400: 244, 114, 182;
  --tw-clr-primary-500: 236, 72, 153;
  --tw-clr-primary-600: 219, 39, 119;
  --tw-clr-primary-700: 190, 24, 93;
  --tw-clr-primary-800: 157, 23, 77;
  --tw-clr-primary-900: 131, 24, 67;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fdf2f8 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fce7f3 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fbcfe8 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #f9a8d4 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #f472b6 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #ec4899 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #db2777 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #be185d */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #9d174d */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #831843 */
}

.fuchsia {
  --tw-clr-primary-50: 253, 244, 255;
  --tw-clr-primary-100: 250, 232, 255;
  --tw-clr-primary-200: 245, 208, 254;
  --tw-clr-primary-300: 240, 171, 252;
  --tw-clr-primary-400: 232, 121, 249;
  --tw-clr-primary-500: 217, 70, 239;
  --tw-clr-primary-600: 192, 38, 211;
  --tw-clr-primary-700: 162, 28, 175;
  --tw-clr-primary-800: 134, 25, 143;
  --tw-clr-primary-900: 112, 26, 117;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fdf4ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fae8ff */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #f5d0fe */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #f0abfc */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #e879f9 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #d946ef */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #c026d3 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #a21caf */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #86198f */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #701a75 */
}

.purple {
  --tw-clr-primary-50: 250, 245, 255;
  --tw-clr-primary-100: 243, 232, 255;
  --tw-clr-primary-200: 233, 213, 255;
  --tw-clr-primary-300: 216, 180, 254;
  --tw-clr-primary-400: 192, 132, 252;
  --tw-clr-primary-500: 168, 85, 247;
  --tw-clr-primary-600: 147, 51, 234;
  --tw-clr-primary-700: 126, 34, 206;
  --tw-clr-primary-800: 107, 33, 168;
  --tw-clr-primary-900: 88, 28, 135;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #faf5ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f3e8ff */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e9d5ff */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #d8b4fe */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #c084fc */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #a855f7 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #9333ea */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #7e22ce */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #6b21a8 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #581c87 */
}

.violet {
  --tw-clr-primary-50: 245, 243, 255;
  --tw-clr-primary-100: 237, 233, 254;
  --tw-clr-primary-200: 221, 214, 254;
  --tw-clr-primary-300: 196, 181, 253;
  --tw-clr-primary-400: 167, 139, 250;
  --tw-clr-primary-500: 139, 92, 246;
  --tw-clr-primary-600: 124, 58, 237;
  --tw-clr-primary-700: 109, 40, 217;
  --tw-clr-primary-800: 91, 33, 182;
  --tw-clr-primary-900: 76, 29, 149;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f5f3ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ede9fe */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #ddd6fe */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #c4b5fd */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #a78bfa */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #8b5cf6 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #7c3aed */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #6d28d9 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #5b21b6 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #4c1d95 */
}

.indigo {
  --tw-clr-primary-50: 238, 242, 255;
  --tw-clr-primary-100: 224, 231, 255;
  --tw-clr-primary-200: 199, 210, 254;
  --tw-clr-primary-300: 165, 180, 252;
  --tw-clr-primary-400: 129, 140, 248;
  --tw-clr-primary-500: 99, 102, 241;
  --tw-clr-primary-600: 79, 70, 229;
  --tw-clr-primary-700: 67, 56, 202;
  --tw-clr-primary-800: 55, 48, 163;
  --tw-clr-primary-900: 49, 46, 129;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #eef2ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #e0e7ff */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #c7d2fe */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #a5b4fc */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #818cf8 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #6366f1 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #4f46e5 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #4338ca */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #3730a3 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #312e81 */
}

.blue {
  --tw-clr-primary-50: 239, 246, 255;
  --tw-clr-primary-100: 219, 234, 254;
  --tw-clr-primary-200: 191, 219, 254;
  --tw-clr-primary-300: 147, 197, 253;
  --tw-clr-primary-400: 96, 165, 250;
  --tw-clr-primary-500: 59, 130, 246;
  --tw-clr-primary-600: 37, 99, 235;
  --tw-clr-primary-700: 29, 78, 216;
  --tw-clr-primary-800: 30, 64, 175;
  --tw-clr-primary-900: 30, 58, 138;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #eff6ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #dbeafe */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #bfdbfe */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #93c5fd */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #60a5fa */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #3b82f6 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #2563eb */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #1d4ed8 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #1e40af */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #1e3a8a */
}

.sky {
  --tw-clr-primary-50: 240, 249, 255;
  --tw-clr-primary-100: 224, 242, 254;
  --tw-clr-primary-200: 186, 230, 253;
  --tw-clr-primary-300: 125, 211, 252;
  --tw-clr-primary-400: 56, 189, 248;
  --tw-clr-primary-500: 14, 165, 233;
  --tw-clr-primary-600: 2, 132, 199;
  --tw-clr-primary-700: 3, 105, 161;
  --tw-clr-primary-800: 7, 89, 133;
  --tw-clr-primary-900: 12, 74, 110;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f0f9ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #e0f2fe */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #bae6fd */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #7dd3fc */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #38bdf8 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #0ea5e9 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #0284c7 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #0369a1 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #075985 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #0c4a6e */
}

.cyan {
  --tw-clr-primary-50: 236, 254, 255;
  --tw-clr-primary-100: 207, 250, 254;
  --tw-clr-primary-200: 165, 243, 252;
  --tw-clr-primary-300: 103, 232, 249;
  --tw-clr-primary-400: 34, 211, 238;
  --tw-clr-primary-500: 6, 182, 212;
  --tw-clr-primary-600: 8, 145, 178;
  --tw-clr-primary-700: 14, 116, 144;
  --tw-clr-primary-800: 21, 94, 117;
  --tw-clr-primary-900: 22, 78, 99;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #ecfeff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #cffafe */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #a5f3fc */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #67e8f9 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #22d3ee */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #06b6d4 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #0891b2 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #0e7490 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #155e75 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #164e63 */
}

.teal {
  --tw-clr-primary-50: 240, 253, 250;
  --tw-clr-primary-100: 204, 251, 241;
  --tw-clr-primary-200: 153, 246, 228;
  --tw-clr-primary-300: 94, 234, 212;
  --tw-clr-primary-400: 45, 212, 191;
  --tw-clr-primary-500: 20, 184, 166;
  --tw-clr-primary-600: 13, 148, 136;
  --tw-clr-primary-700: 15, 118, 110;
  --tw-clr-primary-800: 17, 94, 89;
  --tw-clr-primary-900: 19, 78, 74;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f0fdfa */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ccfbf1 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #99f6e4 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #5eead4 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #2dd4bf */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #14b8a6 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #0d9488 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #0f766e */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #115e59 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #134e4a */
}

.emerald {
  --tw-clr-primary-50: 236, 253, 245;
  --tw-clr-primary-100: 209, 250, 229;
  --tw-clr-primary-200: 167, 243, 208;
  --tw-clr-primary-300: 110, 231, 183;
  --tw-clr-primary-400: 52, 211, 153;
  --tw-clr-primary-500: 16, 185, 129;
  --tw-clr-primary-600: 5, 150, 105;
  --tw-clr-primary-700: 4, 120, 87;
  --tw-clr-primary-800: 6, 95, 70;
  --tw-clr-primary-900: 6, 78, 59;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #ecfdf5 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #d1fae5 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #a7f3d0 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #6ee7b7 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #34d399 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #10b981 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #059669 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #047857 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #065f46 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #064e3b */
}

.green {
  --tw-clr-primary-50: 240, 253, 244;
  --tw-clr-primary-100: 220, 252, 231;
  --tw-clr-primary-200: 187, 247, 208;
  --tw-clr-primary-300: 134, 239, 172;
  --tw-clr-primary-400: 74, 222, 128;
  --tw-clr-primary-500: 34, 197, 94;
  --tw-clr-primary-600: 22, 163, 74;
  --tw-clr-primary-700: 21, 128, 61;
  --tw-clr-primary-800: 22, 101, 52;
  --tw-clr-primary-900: 20, 83, 45;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f0fdf4 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #dcfce7 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #bbf7d0 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #86efac */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #4ade80 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #22c55e */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #16a34a */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #15803d */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #166534 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #14532d */
}

.lime {
  --tw-clr-primary-50: 247, 254, 231;
  --tw-clr-primary-100: 236, 252, 203;
  --tw-clr-primary-200: 217, 249, 157;
  --tw-clr-primary-300: 190, 242, 100;
  --tw-clr-primary-400: 163, 230, 53;
  --tw-clr-primary-500: 132, 204, 22;
  --tw-clr-primary-600: 101, 163, 13;
  --tw-clr-primary-700: 77, 124, 15;
  --tw-clr-primary-800: 63, 98, 18;
  --tw-clr-primary-900: 54, 83, 20;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f7fee7 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ecfccb */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #d9f99d */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #bef264 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #a3e635 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #84cc16 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #65a30d */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #4d7c0f */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #3f6212 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #365314 */
}

.yellow {
  --tw-clr-primary-50: 254, 252, 232;
  --tw-clr-primary-100: 254, 249, 195;
  --tw-clr-primary-200: 254, 240, 138;
  --tw-clr-primary-300: 253, 224, 71;
  --tw-clr-primary-400: 250, 204, 21;
  --tw-clr-primary-500: 234, 179, 8;
  --tw-clr-primary-600: 202, 138, 4;
  --tw-clr-primary-700: 161, 98, 7;
  --tw-clr-primary-800: 133, 77, 14;
  --tw-clr-primary-900: 113, 63, 18;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fefce8 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fef9c3 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fef08a */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fde047 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #facc15 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #eab308 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #ca8a04 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #a16207 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #854d0e */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #713f12 */
}

.amber {
  --tw-clr-primary-50: 255, 251, 235;
  --tw-clr-primary-100: 254, 243, 199;
  --tw-clr-primary-200: 253, 230, 138;
  --tw-clr-primary-300: 252, 211, 77;
  --tw-clr-primary-400: 251, 191, 36;
  --tw-clr-primary-500: 245, 158, 11;
  --tw-clr-primary-600: 217, 119, 6;
  --tw-clr-primary-700: 180, 83, 9;
  --tw-clr-primary-800: 146, 64, 14;
  --tw-clr-primary-900: 120, 53, 15;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fffbeb */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fef3c7 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fde68a */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fcd34d */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #fbbf24 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #f59e0b */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #d97706 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #b45309 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #92400e */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #78350f */
}

.orange {
  --tw-clr-primary-50: 255, 247, 237;
  --tw-clr-primary-100: 255, 237, 213;
  --tw-clr-primary-200: 254, 215, 170;
  --tw-clr-primary-300: 253, 186, 116;
  --tw-clr-primary-400: 251, 146, 60;
  --tw-clr-primary-500: 249, 115, 22;
  --tw-clr-primary-600: 234, 88, 12;
  --tw-clr-primary-700: 194, 65, 12;
  --tw-clr-primary-800: 154, 52, 18;
  --tw-clr-primary-900: 124, 45, 18;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fff7ed */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ffedd5 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fed7aa */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fdba74 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #fb923c */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #f97316 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #ea580c */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #c2410c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #9a3412 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #7c2d12 */
}

.red {
  --tw-clr-primary-50: 254, 242, 242;
  --tw-clr-primary-100: 254, 226, 226;
  --tw-clr-primary-200: 254, 202, 202;
  --tw-clr-primary-300: 252, 165, 165;
  --tw-clr-primary-400: 248, 113, 113;
  --tw-clr-primary-500: 239, 68, 68;
  --tw-clr-primary-600: 220, 38, 38;
  --tw-clr-primary-700: 185, 28, 28;
  --tw-clr-primary-800: 153, 27, 27;
  --tw-clr-primary-900: 127, 29, 29;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fef2f2 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fee2e2 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fecaca */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fca5a5 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #f87171 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #ef4444 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #dc2626 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #b91c1c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #991b1b */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #7f1d1d */
}

.warmGray {
  --tw-clr-primary-50: 250, 250, 249;
  --tw-clr-primary-100: 245, 245, 244;
  --tw-clr-primary-200: 231, 229, 228;
  --tw-clr-primary-300: 214, 211, 209;
  --tw-clr-primary-400: 168, 162, 158;
  --tw-clr-primary-500: 120, 113, 108;
  --tw-clr-primary-600: 87, 83, 78;
  --tw-clr-primary-700: 68, 64, 60;
  --tw-clr-primary-800: 41, 37, 36;
  --tw-clr-primary-900: 28, 25, 23;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fafaf9 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f5f5f4 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e7e5e4 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #d6d3d1 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #a8a29e */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #78716c */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #57534e */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #44403c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #292524 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #1c1917 */
}

.trueGray {
  --tw-clr-primary-50: 250, 250, 250;
  --tw-clr-primary-100: 245, 245, 245;
  --tw-clr-primary-200: 229, 229, 229;
  --tw-clr-primary-300: 212, 212, 212;
  --tw-clr-primary-400: 163, 163, 163;
  --tw-clr-primary-500: 115, 115, 115;
  --tw-clr-primary-600: 82, 82, 82;
  --tw-clr-primary-700: 64, 64, 64;
  --tw-clr-primary-800: 38, 38, 38;
  --tw-clr-primary-900: 23, 23, 23;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fafafa */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f5f5f5 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e5e5e5 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #d4d4d4 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #a3a3a3 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #737373 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #525252 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #404040 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #262626 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #171717 */
}

.gray {
  --tw-clr-primary-50: 250, 250, 250;
  --tw-clr-primary-100: 244, 244, 245;
  --tw-clr-primary-200: 228, 228, 231;
  --tw-clr-primary-300: 212, 212, 216;
  --tw-clr-primary-400: 161, 161, 170;
  --tw-clr-primary-500: 113, 113, 122;
  --tw-clr-primary-600: 82, 82, 91;
  --tw-clr-primary-700: 63, 63, 70;
  --tw-clr-primary-800: 39, 39, 42;
  --tw-clr-primary-900: 24, 24, 27;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fafafa */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f4f4f5 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e4e4e7 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #d4d4d8 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #a1a1aa */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #71717a */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #52525b */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #3f3f46 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #27272a */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #18181b */
}

.coolGray {
  --tw-clr-primary-50: 249, 250, 251;
  --tw-clr-primary-100: 243, 244, 246;
  --tw-clr-primary-200: 229, 231, 235;
  --tw-clr-primary-300: 209, 213, 219;
  --tw-clr-primary-400: 156, 163, 175;
  --tw-clr-primary-500: 107, 114, 128;
  --tw-clr-primary-600: 75, 85, 99;
  --tw-clr-primary-700: 55, 65, 81;
  --tw-clr-primary-800: 31, 41, 55;
  --tw-clr-primary-900: 17, 24, 39;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f9fafb */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f3f4f6 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e5e7eb */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #d1d5db */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #9ca3af */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #6b7280 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #4b5563 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #374151 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #1f2937 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #111827 */
}

.blueGray {
  --tw-clr-primary-50: 248, 250, 252;
  --tw-clr-primary-100: 241, 245, 249;
  --tw-clr-primary-200: 226, 232, 240;
  --tw-clr-primary-300: 203, 213, 225;
  --tw-clr-primary-400: 148, 163, 184;
  --tw-clr-primary-500: 100, 116, 139;
  --tw-clr-primary-600: 71, 85, 105;
  --tw-clr-primary-700: 51, 65, 85;
  --tw-clr-primary-800: 30, 41, 59;
  --tw-clr-primary-900: 15, 23, 42;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f8fafc */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f1f5f9 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #e2e8f0 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #cbd5e1 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #94a3b8 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #64748b */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #475569 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #334155 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #1e293b */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #0f172a */
}
