@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/inter-var-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* #region  /**=========== Typography =========== */
  .h1 {
    @apply font-secondary text-4xl md:text-6xl/none lg:text-[5.625rem]/none font-extrabold uppercase;
  }

  .h2 {
    @apply font-secondary text-3xl md:text-5xl/none lg:text-[4.375rem]/none font-extrabold uppercase;
  }

  .h3 {
    @apply font-secondary text-2xl md:text-3xl/none lg:text-[3.125rem]/none font-bold uppercase;
  }

  .h4 {
    @apply font-secondary text-xl md:text-2xl/none lg:text-4xl/none font-bold uppercase;
  }

  body,
  .p {
    @apply font-primary text-base md:text-lg;
  }

  .p-leavy {
    @apply font-primary font-bold text-base md:text-xl;
  }

  .p-caption {
    @apply font-primary text-sm md:text-base;
  }

  .prose p {
    @apply mb-2;
  }
  .prose a {
    @apply underline;
  }
  /* #endregion  /**======== Typography =========== */

  /* #region  /**=========== HEADER =========== */
  .navbar-active {
    @apply relative;

    @apply after:content-[''] after:absolute after:left-0 after:-bottom-px after:w-full after:h-1 after:bg-red1;
  }
  /* #endregion  /**======== HEADER =========== */
}

@layer utilities {
}
